@font-face {
  font-family: 'EBGaramond', serif;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/EBGaramond.eot'),
   url('EBGaramond-Italic-VariableFont_wght.ttf') format('ttf'),
}

.header {
  padding: 20px;
  border-bottom: 1px solid rgb(168, 13, 215);
  text-align: center;
  flex: 0;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.header-link {
  margin: 0 10px;
}

.link {
  color: rgb(19, 241, 67);
  transition: color .2s;
}

.main {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-grow: 1;
  padding-top: 50px;
}

.aside {
  width: 300px;
  flex: 0;
}

.img {
  border: 1px solid rgb(221, 16, 218);
}

.main-section {
  flex-grow: 1;
  padding-left: 50px;
}

.title {
  color: rgb(30, 25, 25);
  font-family: 'Vollkorn', serif;
}

.subtitle {
  border-left: 5px solid rgb(30, 174, 210);
  padding-left: 10px;
  color: rgb(17, 227, 77);
  margin-top: 30px;
  font-family: 'Vollkorn', serif;
}

.contacts-item {
  display: flex;
  align-items: center;
}

.contacts-icon {
  margin-right: 20px;
}

.footer {
  border-top: 1px solid rgb(221, 14, 204);
  padding: 20px;
  text-align: center;
  color: rgb(220, 17, 197);
}